<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Video</title>
</head>
<body>
<h2 th:text="${video.videoId == null} ? 'Thêm mới Video' : 'Chỉnh sửa Video'"></h2>

<form th:action="@{/videos/save}" th:object="${video}" method="post">
    <label>Title:</label>
    <input type="text" th:field="*{title}" required/><br/>

    <label>URL:</label>
    <input type="text" th:field="*{url}" required/><br/>

    <label>User ID:</label>
    <input type="number" th:field="*{user.id}" required/><br/>

    <button type="submit">Lưu</button>
</form>

<a th:href="@{/videos}">Quay lại danh sách</a>
</body>
</html>
