<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout-web.html}">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>
<div layout:fragment="content">
    <div class="text-center mt-5">
        <h1>Chào mừng bạn đến với <span class="text-primary">LTaam</span>!</h1>
        <p class="lead mt-3">Đây là website quản lý bán hàng được xây dựng bằng <b>Spring Boot</b> + <b>Thymeleaf</b>.</p>

    </div>
</div>
</body>
</html>
